@import "/src/styles/colors.module";

// Estilização CSS das figuras do component MenuMob
.figureMenu {
  cursor: pointer;
  color: $blue-400;
}
.figure {
  @extend .figureMenu; // Estende a classe .figureMenu
  :hover {
    color: $pink-500;
  }
}
//  Estilização CSS do component MenuMob
.divMenuMob {
  // Desktop
  @media (min-width: 994px) {
    display: none;
  }
}
.content {
  // Tablet | Mobile
  position: absolute;
  z-index: 100;
  top: -100%;
  left: 0%;
  width: 100%;
  height: 70vh;
  background-color: $white;
  padding: 0 16px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.divHeader {
  // Tablet | Mobile
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// keyframes da animação de abertura e fechando do Menu
@keyframes slideIn {
  from {
    top: -100%;
    opacity: 0;
    visibility: hidden;
  }
  to {
    top: 0%;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes slideOut {
  from {
    top: 0%;
    opacity: 1;
    visibility: visible;
  }
  to {
    top: -100%;
    opacity: 0;
    visibility: hidden;
  }
}
.divMenuMob.open .content {
  animation-name: slideIn;
}
.divMenuMob.close .content {
  animation-name: slideOut;
}
