@import "/src/styles/colors.module";

.ButtonBase {
  min-width: 8.125rem;
  padding: 1.5rem 1.7rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 48px;
  transition: background-color 0.3s, color 0.3s;

  span {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center; /* Isso centralizará verticalmente o conteúdo dentro do elemento */
  }
}


.ButtonBlue {
  @extend .ButtonBase;
  background-color: $blue-500;
  border: 1px solid  $blue-500;
  span {
    color: $white;
  }
  
  &:hover {
    background-color: transparent;
    border: 1px solid  $blue-500;
    
    span {
      color: $blue-400;
    }
  }
  
}

.ButtonPink {
  @extend .ButtonBase;
  background-color: $pink-500;
  span {
    color: $white;
  }
  &:hover {
    background-color: transparent;
    border: 1px solid  $pink-500;
    
    span {
      color: $pink-500;
    }
  }
}


.ButtonDisabled {
  @extend .ButtonBase;
  cursor: text;
  background-color: $gray-200;
    
  span {
    color: $gray-600;
  }
}


/* Estilos para telas menores (por exemplo, dispositivos móveis) */
@media (max-width: 470px) {
  .ButtonBase {
    height: 2.5rem;
    max-width: 100%;
    gap: 4px;
    border-radius: 24px;

    span {
      font-size: 80%; /* Tamanho de fonte menor para telas menores */
    }
  }
}

@media screen and (max-width: 994px) {
  .ButtonBase {
    margin-bottom: 10px;
  }
  
}