@import "@/styles/colors.module";

.pageNavigation p {
  display: inline;
  
}

.navigateActive, .course {
  font-size: 18px;
}

.navigateActive {
  color: $pink-500;
}

.course {
  color: $gray-500;
}