// Variables colors

// Color White
$white: rgba(250, 250, 250, 1);
// Color Black
$black: rgba(39, 39, 39, 1);
// Colors Pink
$pink-500: rgba(213, 98, 109, 1);
$pink-400: rgba(245, 197, 210, 0.25);
// Colors Blue
$blue-500: rgba(70, 120, 188, 1);
$blue-400: rgba(32, 55, 108, 1);
$blue-300: rgba(32, 55, 108, 0.255);
$blue-200: rgba(242, 247, 255, 1);
$blue-100: rgba(32, 55, 108, 0.25);
// Colors Gray
$gray-600: rgba(79, 79, 79, 1);
$gray-500: rgba(39, 39, 39, 0.7);
$gray-400: rgba(33, 37, 41, 0.75);
$gray-300: rgba(68, 68, 68, 1);
$gray-200: rgba(213, 213, 213, 1);
