@font-face {
  font-family: "Avenir LT Std";
  src: url("AvenirLTStd.ttf");
}

@font-face {
  font-family: "NCS Radhiumz";
  src: url("NCS Radhiumz.ttf");
}
// Variables fonts
$font-family-primary: 'Avenir LT Std';
$font-family-secondary: 'NCS Radhiumz';