@import "colors.module";



.sectionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  @media (max-width: 994px) {
    flex-direction: column;
  }
}

.sectionWhite {
  background-color: $white
}

.hero {
  @extend .sectionContainer;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @extend .containerSubtitle;
  max-width: 648px;
}

.sectionWelcome {
  @extend .sectionContainer
}

.containerSubtitle {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.definition {
  @extend .sectionContainer;
  margin-block: 3rem
}

.listArticles {
  margin-top: 1rem;
  list-style: none;
}

.article a{
  color: $pink-500;
}

.article a::before {
  content: '-';
  margin-right: 4px
}

.typeCardContainer {
  @extend .sectionContainer;
  padding-block: 3rem;
}

.typeCard {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}