@import "colors.module";

.sectionContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Avenir LT STD', sans-serif;
  
  @media (max-width: 994px) {
    flex-direction: column;
  }
}
.hero {
  @extend .sectionContainer;
  margin-top: 32px;
}

.learn {
  background-color: $white;
  margin-top: 21px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.cards {
  display: flex;
  gap: 22px;
  margin-top: 40px;
  @media (max-width: 998px) {
    flex-direction: column;
  }
}

.news, 
.socialMedia {
  @extend .sectionContainer;
  background-color: $white;

  @media (max-width: 998px) {
    img {
      max-width: 100%;
      height: 100%;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 636px;

}

.buttons {
  display: flex;
  gap: .5rem;

  @media (max-width: 998px) {
    flex-direction: column;
    div {
      width: 100%;
    }
  }
}