@import "colors.module";

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  font-family: 'Avenir LT STD', sans-serif;
  
  @media (max-width: 994px) {
    flex-direction: column;
    gap: 2.5rem;
  }
}

.learn {
  background-color: $white;
  margin-top: 21px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.cards {
  display: flex;
  gap: 22px;
  margin-top: 40px;
  @media (max-width: 998px) {
    flex-direction: column;
  }
}

.content {
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}