@import "colors.module";

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  @media (max-width: 994px) {
    flex-direction: column;
  }
}

.heroTexts {
  max-width: 476px;
}

.heroTexts h2 {
  margin-bottom: 26px;
  max-width: 300px;
}

.learn {
  background-color: $white;
  margin-top: 21px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  gap: 22px;
  margin-top: 40px;
}
