html,
body {
  margin: 0;
  padding: 0;
  background-color: rgba(250, 250, 250, 1);
  font-family: "Avenir LT Std", sans;
}

a {
  color: blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
