html,
body {
  margin: 0;
  padding: 0;
  background-color: rgba(250, 250, 250, 1);
  font-family: "Avenir LT Std", sans;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}
.container {
  width: 100%;
  height: auto;
  padding: 1rem 5.2rem;
  /* Tablet | Mobile */
  @media (max-width: 994px) {
    padding: 1rem 2rem;
  }
}