html,
body {
  margin: 0;
  padding: 0;
  background-color: rgba(250, 250, 250, 1);
  font-family: "Avenir LT Std", sans;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}
