@import "/src/styles/colors.module";

//Style da página Inicio
.inicioAjudando{
  width: 100%;
  height:36.77rem;
  display: flex; 
  align-items: center;
}

.inicioAjudando .title,
.inicioProjeto .title {
  height: 94px;
  width: 400px;
  
}

.inicioCurso{
  justify-content: center;
}

.inicioCarreira, .inicioProjeto, .inicioNovidades, .inicioSocial{
  background-color: $white;
  display: flex; 
  align-items: center;
  
}

.containerFlex{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.textLeft{
  flex: 2;
  padding-right: 20px;
}

.textRight{
  flex: 1;
  padding-right: 20px;
}

.title {
  margin-bottom: 20px;
}

.centerButton{
  justify-content: center;
}

.inicioButton, .buttonSocial{
  padding-top: 20px;
  display: flex;
  gap: 10px;
  line-height: 0;// alinhar icone
}

.inicioImg {
  padding-left: 20px;
}

.img {
  width: 80%;
  height: auto;
}


.cardList{
  display: flex;
  //justify-content: center;
  flex-wrap: nowrap; /* Impede que os cards quebrem para uma nova linha */
  padding: 0;
  margin: 0;
  overflow-y: hidden; /* Impede a rolagem vertical */
  max-width: 100%; /* Impede que os cards ultrapassem o tamanho da página */
}

.cardList li{
  //width: 302.39px;
  //height: 329.36px;
  list-style: none;
  margin-right: 10px; /* Espaçamento entre os cards */
}

@media (max-width: 994px) {
  .inicioAjudando, .inicioCarreira, .containerFlex, .inicioProjeto, .inicioCurso, .cardList, .inicioNovidades, .inicioSocial{
    display: block;
    /*width: 100%;
    height: auto;*/
    align-items: center;
  }
  .cardList li{
    padding-top: 10px;
  }


}

  //mobile
  @media (max-width: 425px) {
    
    .inicioButton, .buttonSocial {
    //  display: grid;
      display: block;
    }

    .inicioAjudando .title,
    .inicioProjeto .title {
      height: 100%;
      width: 100%;
      align-items: center;
    }  

  .img {
    width: 100%;
    height: auto;
    align-items: center;
    padding: 5%;
  }

}