@import "/src/styles/colors.module";

.sectionCarreira {
  background-color: $white;
}

.ajudando, .carreira, .projeto {
  display: flex; /* Define um layout flexível */
  align-items: center; /* Alinha os itens verticalmente ao centro */
}

.textAjudando {
  height: 245px;
  width: 557.15px;
  flex: 2;
}

.textCarreira {
  width: 636px;
  height: 171.39px;
}


.textCarreira {
  flex: 2; 
}

.titleAjudando {
  height: 94px;
  width: 505px;
  margin-bottom: 25px;
}

.titleCarreira, .titleProjeto {
  margin-bottom: 25px;
}



.buttonAjudando, .buttonProjeto, .buttonCarreira {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

