@import "/src/styles/colors.module";

.main {
    font-style: normal;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: $pink-400;
    margin: 0;
}

.logo {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.logo img {
    max-width: 100%;
    height: auto;
    display: block;
}

.section {
    max-width: 530px;
    display: block;
    width: auto;
}

.divText {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-bottom: 2.5rem;
    font-style: normal;
}

.divParcerias, .divLinks {
    margin-top: 2rem;
}

.divCardsLinks {
    row-gap: 1rem;
    align-items: center;
    flex-direction: column;
    width: 100%;
    display: flex;
}

.highlightBlue {
    font-weight: 600;
    color: $blue-400;
}

.highlightPink {
    color: $pink-500;
    font-weight: 600;
}

.highlight {
    font-weight: 600;
}

.cardVoluntaria {
    color: $white;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
}