@import "/src/styles/colors.module";

.propostaContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.propostaText, .propostaImage {
  width: 40%;
  height: 100%;
}

.img{
width: 100%;
text-align: center;
}

//stylo para letra ficar rosa com hover azul
.textA {
  text-decoration: none;
  color:$pink-500;
  transition: color 0.3s ease-in-out;
}

.textStyle {
  color:$gray-600;
  font-size: 1rem;
  font-family: "NCS Radhiumz", 'Avenir LT STD', sans-serif ;
}

.textA:hover {
  color:$blue-400;
}//end stylo para letra ficar rosa com hover azul

.bemVindos, .aspectos, .comoMontar, .identificarDefinir {
  background: $white;
}

.endParabens {
  text-align: center;
}

@media (max-width: 994px) {
  .propostaContainer {
    display: block;
  }

  .propostaText, .propostaImage{
    width: 100%;
  }

  .img {
    width: 90%;
    height: auto;
    text-align: center;
   
  }

  .buttons {
    display: flex;
    flex-direction: column;
    div {
      width: 100%;
    }
  }
}