@import 'colors.module';

#about {
  position: absolute;
  top: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #20376c;
  font-family: 'Avenir LT Std', sans-serif;
  font-size: 18px;
}

// Conclusão do Sobre
#about .aboutMore {
  width: 80%;
  padding: 2rem;
  min-height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 92px;
  line-height: 27px;
}

#about .girlReading {
  width: 40%;
  text-align: center;
}

#about .girlReading img {
  height: 100%;
}

#about .aboutMore p {
  margin: 2rem 0 1rem 0;
}

// Objetivos
#about .goals {
  width: 100%;
  background: $pink-400;
}

#about .goals .titleGoals {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Responsiveness
@media (max-width: 940px) {
  #about .aboutMore {
    flex-direction: column;
    max-height: 100vh;
    text-align: justify;
    gap: 2rem;
  }

  #about .girlReading img {
    width: 70%;
    text-align: center;
  }

  #about .aboutMore h2 {
    text-align: center;
  }
}

