@import 'colors.module';

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
  color: #20376c;
  font-family: 'Avenir LT Std', sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}

// Conclusão do Sobre
#about .aboutMore {
  padding: 2rem 10rem;
  width: 100%;
  min-height: 360px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  line-height: 2;
}

#about .containerTitle {
  @extend .aboutMore; // Estende a classe .aboutMore
  flex-direction: column;
  gap: 2rem;
  background-color: $pink-400;
  width: 100%;
  padding: 2rem;
}

#about .aboutMoreWrap {
  @extend .aboutMore; // Estende a classe .aboutMore
  background-color: $pink-400;
  flex-direction: row-reverse;
}

#about .image img {
  height: 100%;
}

#about .aboutMore .descAboutMore {
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

// Objetivos
#about .goals {
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  background: $pink-400;
  padding: 2rem;
}

#about .goals .titleGoals {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 223px;
}

.mySwiper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentSwiper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  gap: 75px;
}

.contentSwiper .text {
  text-align: left;
  max-width: 530px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contentSwiper img {
  width: 453.59px;
  height: 303px;
  border-radius: 20px;
}

// Responsiveness
@media (max-width: 1200px) {
  #about .image img {
    width: 200px;
    text-align: center;
  }
}

@media (max-width: 940px) {
  #about .aboutMore {
    flex-direction: column;
    text-align: justify;
    gap: 1rem;
    padding: 2rem;
  }

  #about .image img {
    width: 200px;
    text-align: center;
  }

  #about .aboutMore h2 {
    text-align: center;
  }
}

@media (max-width: 400px) {
  #about .image img {
    display: none;
  }
}


