@import "/src/styles/colors.module";

.button_to_top {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2rem;
  height: 2rem;
  background-color: $pink-500;
  color: $white;
  border-radius: 50%;
  border: none;
  font-size: 1.2rem;
  
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  
  visibility: hidden;
  opacity: 0;
  transition: .4s all ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $blue-500;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }
}