@import "/src/styles/colors.module";

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-15px);
      }
}
    

.card_container {
    width: 100%;
    border-radius: 0.5rem;
    height: 5.3rem;
    min-width: 280px;
    max-width: 530px;
    cursor: pointer;
    display: block;
}

.cardBase {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card {
   @extend .cardBase;
    background-color: $white;
    &:hover {
        background-color: $blue-400;
    }
    &:hover .card__text {
        color: $white;
    }
}

.card__principal {
    @extend .cardBase;
    background-color: $blue-400;
    animation: bounce 2s ease 0s infinite;
}

.card__text {
    font-size: 1rem;
    line-height: 1.25rem;
    color: black;
    @media (max-width: 994px) {
        font-size: 0.9rem;
    }
}


.card__emoji {
    font-size: 2.15rem;
    line-height: 2.25rem;
    @media (max-width: 994px) {
        font-size: 1.8rem;
    }
}