/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.hero {
    background: linear-gradient(180deg, #1A61A2 0%, #095397 100%);
    height: 70vh;
}

.hero .container {
    padding-top: 10%;
}

.hero h1 {
    font-size: 48px;
    font-weight: 700;
    color: #f7f7f7;
    font-family: "Goldplay", "Nunito", sans-serif;
    font-style: normal;
    line-height: 125%;
    text-align: center;
}

.hero h2 {
    padding-top: 20px;
    font-size: 26px;
    font-weight: 400;
    width: 600px;
    color: #f7f7f7;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    text-align: center;
}

.hero p {
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #f7f7f7;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    text-align: center;
}

@media (min-width: 1024px) {
    .hero {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    .hero {
        padding: 90px 0px;
        height: 70%;
    }
    .hero h1 {
        text-align: center;
        font-size: 36px;
        line-height: 28px;
        width: auto;
        margin: 0px 30px;
    }
    .hero h2 {
        padding: 30px 0px;
        text-align: center;
        font-size: 26px;
        line-height: 28px;
        width: auto;
        margin: 0px 30px;
    }
    .hero p {
        text-align: center;
        margin: -10px 30px;
        font-size: 18px;
        width: auto;
    }
}

@media (max-width: 575px) {
    .hero .hero-img img {
        max-width: 300px;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}


/*--------------------------------------------------------------
# Cursos Section
--------------------------------------------------------------*/

.cursos {
    height: auto;
}

.cursos .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #f7f7f7;
    margin: 4px 10px;
}

.cursos h2 {
    color: #E0E0E0;
}

.cursos .post-box {
    transition: 0.3s;
    width: 24%;
    height: auto;
    overflow: hidden;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #1A61A2;
    border: 0.3px solid #DFDFDF;
}

.cursos .post-box .post-img {
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    width: 100vw;
    max-width: 100%;
    background-size: cover;
}

.cursos .post-box .post-img img {
    transition: 0.5s;
    width: 100%;
}

.cursos .post-box .post-title {
    font-size: 24px;
    color: #f7f7f7;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    transition: 0.3s;
    font-family: "Goldplay", "Nunito", sans-serif;
}

.cursos .description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #f7f7f7;
}

.cursos .post-box .readmore {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1;
    transition: 0.3s;
    color: #f7f7f7
}

.cursos .post-box .readmore i {
    line-height: 0;
    margin-left: 8px;
    font-size: 16px;
    color: #f7f7f7
}

.cursos .post-box:hover .post-img img {
    transform: rotate(6deg) scale(1.2);
}

.cursos .text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 991px) {
    .cursos {
        padding-top: 80px;
    }
    .cursos .post-box {
        width: 60%;
        height: auto;
    }
}