/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.hero {
    background: #ebf1fb;
    padding-bottom: 60px;
    width: 100%;
    height: 60%;
}

.hero .container {
    padding: 8% 0% 0% 0%;
}

.hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #272727;
    font-family: "Goldplay", "Nunito", sans-serif;
    font-style: normal;
    line-height: 125%;
    text-align: center;
}

.hero h2 {
    padding-top: 20px;
    font-size: 26px;
    font-weight: 400;
    width: 600px;
    color: #272727;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    text-align: center;
}

.hero p {
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #272727;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    text-align: center;
}

@media (min-width: 1024px) {
    .hero {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    .hero {
        padding: 90px 0px;
        height: 70%;
    }

    .hero h1 {
        text-align: center;
        font-size: 36px;
        line-height: 32px;
        width: auto;
        margin: 10px 30px;
    }

    .hero h2 {
        padding: 30px 0px;
        text-align: center;
        font-size: 26px;
        line-height: 32px;
        width: auto;
        margin: 0px 30px;
    }

    .hero p {
        text-align: center;
        margin: 0px 30px;
        font-size: 18px;
        width: auto;
    }
}

@media (max-width: 575px) {
    .hero .hero-img img {
        max-width: 300px;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}


/*--------------------------------------------------------------
# Cursos
--------------------------------------------------------------*/

.cursos {
    background: #F7F7F7;
    padding-bottom: 10%;
}

.cursos .section-title h2 {
    color: #272727;
}

.cursos .section-title p {
    color: #272727;
}

.cursos .section-title h2::after {
    content: "";
    width: 90px;
    height: 1px;
    display: inline-block;
    background: #272727;
    margin: 4px 10px;
}

.cursos h2 {
    color: #272727;
}

.cursos .post-box {
    transition: 0.3s;
    width: 20%;
    height: auto;
    overflow: hidden;
    margin: 10px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #145C9E;
    border: 0.3px solid #cbcbcb;
    padding: 0%;
    background-color: rgba(247, 247, 247, 0.2);
}

.cursos .post-box .post-img {
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    border-radius: 8px 0px 0px 0px;
    width: 100%;
    max-width: 100%;
    background-size: cover;
}

.cursos .post-box .post-img img {
    transition: 0.5s;
    width: 100%;
}

.cursos .post-box .post-title {
    font-size: 24px;
    color: #272727;
    font-weight: 600;
    margin: 10px 20px 10px 20px;
    position: relative;
    transition: 0.3s;
    font-family: "Goldplay", "Nunito", sans-serif;
}

.cursos .description {
    font-family: "Montserrat", "Nunito", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 0px 20px 20px 20px;
    color: #272727;
}

.cursos .post-box .readmore {
    display: flex;
    margin: 20px 20px;
    align-items: center;
    font-weight: 500;
    line-height: 1;
    transition: 0.3s;
    color: #272727;
}

.cursos .post-box .readmore i {
    line-height: 0;
    margin-left: 8px;
    font-size: 16px;
    color: #272727;
}

.cursos .post-box:hover .post-img img {
    transform: rotate(6deg) scale(1.2);
}

.cursos .text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cursos .btn-ver-todos {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    padding: 10px 80px;
    border-radius: 50px;
    transition: 0.3s;
    color: #272727;
    border-radius: 50px;
    border: #cbcbcb solid 1px;
    background-color: #ebf1fb;
    font-family: "Goldplay", "Nunito", sans-serif;
}

.cursos .btn-ver-todos:hover {
    color: #272727;
    background: #F7F7F7;
    border: #F7F7F7 solid 1px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

@media (max-width: 991px) {
    .cursos {
        padding-top: 40px;
    }

    .cursos .section-title h2 {
        margin: -10px 30px;
        width: auto;
    }

    .cursos .section-title p {
        margin: 10px 30px;
        width: auto;
        margin-bottom: -30px;
    }

    .cursos .post-box {
        width: auto;
        height: auto;
    }

    .cursos .row {
        margin: 0px 60px;
    }

    .cursos .post-box .img-fluid {
        width: 100%;
    }

    .cursos .text-center {
        margin-top: 10px;
        margin-bottom: 10px;
        width: auto;
    }

    .cursos .btn-ver-todos {
        padding: 10px 60px;
        width: 300px;
    }
}