/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.hero,
.hero-carousel {
  background: rgba(245, 197, 210, 0.25);
  width: 100%;
  padding: 120px 0px;
}

.hero-carousel {
  padding: 60px 0px 0px;
}

.hero h1,
.hero-carousel h1 {
  font-size: 46px;
  width: 100%;
  color: #20376C;
  font-family: "NCS Radhiumz", 'Avenir LT STD', sans-serif;
  font-style: normal;
  line-height: 110%;
  text-align: left;
  margin-bottom: 20px;
}

.hero .hero-img,
.hero-carousel .hero-img {
  text-align: right;
}

.hero .hero-img img,
.hero-carousel .hero-img img {
  border-radius: 20px;
  width: 70%;
}

.hero p,
.hero-carousel p {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  color: #20376C;
  font-style: normal;
  text-align: left;
  margin-bottom: 20px;
}

.hero .btn-descobrir-cursos,
.hero .btn-descobrir-processos,
.cursos .btn-ver-todos {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 50px;
  transition: 0.5s;
  text-align: center;
  padding: 10px 30px;
}

.hero .btn-descobrir-cursos {
  color: #FAFAFA;
  background: #4678BC;
  border: #4678BC solid 1px;
  margin-right: 10px;
}

.hero .btn-descobrir-cursos:hover {
  background: #FAFAFA;
  color: #4678BC;
  border: #FAFAFA solid 1px;
}

.hero .btn-descobrir-processos {
  color: #D5626D;
  border: #D5626D solid 1px;
}

.hero .btn-descobrir-processos:hover {
  background: #D5626D;
  color: #FAFAFA;
  border: #D5626D solid 1px;
}

@media (min-width: 1350px) {

  .hero,
  .hero-carousel {
    padding: 70px 0px;
  }
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    padding-top: 12vh !important;
  }

  .hero h1,
  .hero-carousel h1 {
    text-align: left;
    font-size: 36px;
    line-height: 36px;
    width: 100%;
  }

  .hero .left {
    width: 100%;
  }

  .hero p {
    text-align: left;
    font-size: 18px;
    width: 100%;
  }

  .hero .hero-img {
    text-align: right;
    width: 80%;
    margin: 10vw;
  }

  .hero .btn-descobrir-cursos {
    width: 80vw;
    margin-bottom: 10px;
  }

  .hero .btn-descobrir-processos {
    width: 80vw;
  }
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }

  .hero h1 {
    font-size: 32px;
    width: 100%;
  }

  .hero .hero-img img {
    width: 100%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Cursos
--------------------------------------------------------------*/

.cursos {
  background: rgba(245, 197, 210, 0.25);
  background-repeat: no-repeat;
  height: auto;
}

.cursos .section-title h2,
.cursos .section-title p,
.cursos h2 {
  color: #20376C;
}

.cursos .section-title h2::after {
  content: "";
  width: 90px;
  height: 1px;
  display: inline-block;
  background: #20376C;
  margin: 4px 10px;
}

.cursos .post-box {
  transition: 0.3s;
  width: 20vw;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 0.3px solid #20376C41;
  margin: 10px;
  padding: 0%;
}

.cursos .post-box .post-img {
  overflow: hidden;
  position: relative;
  border-radius: 8px 0px 0px 0px;
  width: 100%;
  max-width: 100%;
  background-size: cover;
}

.cursos .post-box .post-img img {
  transition: 0.5s;
  width: 100%;
}

.cursos .post-box .post-title {
  font-size: 22px;
  color: #20376C;
  position: relative;
  transition: 0.3s;
  font-family: "NCS Radhiumz", 'Avenir LT STD', sans-serif;
  margin: 20px 20px 5px 20px;
}

.cursos .post-date {
  font-size: 18px;
  color: #757575;
  font-weight: 500;
  font-family: "Avenir LT STD", 'Avenir LT STD', sans-serif;
  margin: 0px 20px 10px 20px !important;
}

.cursos .post-box .readmore {
  display: flex;
  margin: 20px 20px;
  align-items: center;
  font-weight: 500;
  line-height: 1;
  transition: 0.3s;
  color: #20376C;
  font-weight: bold;
}

.cursos .post-box .readmore i {
  line-height: 0;
  font-size: 16px;
  color: #20376C;
  margin-left: 5px;
  font-weight: bold;
}

.cursos .post-box:hover .post-img img {
  transform: rotate(6deg) scale(1.2);
}

.cursos .text-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5%;
}

.cursos .btn-ver-todos {
  color: #20376C;
  border-radius: 50px;
  border: #20376C41 solid 1px;

  margin-top: 20px;
  transition: 0.5s;
}

.cursos .btn-ver-todos:hover {
  color: #20376C;
  background: #FAFAFA;
  border: #FAFAFA solid 1px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
}

@media (max-width: 1084px) {

  .cursos .section-title h2 {
    width: auto;
    font-size: 14px;
  }

  .cursos .section-title p {
    width: auto;
    font-size: 26px;
  }

  .cursos .section-title h2::after {
    width: 50px;
  }

  .cursos .post-box {
    width: 90vw;
    height: auto;
  }

  .cursos .post-box .img-fluid {
    width: 100vw;
  }

  .cursos .text-center {
    width: auto;
  }

  .cursos .btn-ver-todos {
    width: 90vw;
  }
}