/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    font-family: "Nunito", sans-serif;
    color: #1B1B1B;
    background-color: #f7f7f7;
}

a {
    color: #FF5858;
    text-decoration: none;
}

a:hover {
    color: #FF5858;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #0F0F26;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #FF5858;
    border-top-color: #d2e6f9;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #FF5858;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #f7f7f7;
    line-height: 0;
}

.back-to-top:hover {
    background: #FF5858;
    color: #f7f7f7;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}


/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
}

#header.header-transparent {
    background: transparent;
}

#header.header-scrolled {
    background: #0F0F26;
    height: 60px;
}

#header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #f7f7f7;
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/**
* Desktop Navigation 
*/

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 3px;
    left: 30px;
    background-color: #FF5858;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #f7f7f7;
}


/**
* Mobile Navigation 
*/

.mobile-nav-toggle {
    color: #f7f7f7;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #0F0F26;
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 8px;
    background-color: #f7f7f7;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile>ul>li>a:before {
    left: 20px;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #0F0F26;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #FF5858;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
    width: 100%;
    background: url("../img/hero-bg.png");
    height: 80vh;
}

#hero h1 {
    padding-top: 50px;
    font-size: 48px;
    font-weight: 700;
    width: 475px;
    color: #f7f7f7;
    font-family: 'Goldplay';
    font-style: normal;
    line-height: 125%;
    text-shadow: 0px 7px 0px #111111;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    #hero {
        padding-top: 60px;
        height: auto;
    }
    #hero .hero-img {
        text-align: center;
    }
    #hero .hero-img img {
        max-width: 300px;
        margin-bottom: -90px;
    }
    #hero h1 {
        text-align: center;
        font-size: 30px;
        line-height: 32px;
        width: auto;
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        max-width: 300px;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f5f5ff;
}

.section-title {
    padding-bottom: 40px;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #494949;
    font-family: "Goldplay", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #FF5858;
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 650;
    text-transform: uppercase;
    font-family: "Goldplay", sans-serif;
    color: #FF5858;
}

@media (max-width: 991px) {
    .section-title p {
        font-size: 30px;
        padding-top: 10px;
        width: 360px;
    }
    .section-title h2 {
        font-size: 15px;
    }
}


/*--------------------------------------------------------------
# Sobre
--------------------------------------------------------------*/

.sobre {
    padding: 40px 0 0 0;
}

.sobre h3 {
    margin-left: 40px;
    width: 80%;
    font-size: 28px;
    font-weight: 700;
    color: #1B1B1B;
    padding-top: 70px;
    padding-bottom: 15px;
}

.sobre p {
    margin-left: 40px;
    width: 80%;
    font-size: 16px;
    font-weight: 400;
    color: #1B1B1B;
}

.sobre .btn-quero-apoiar {
    margin-left: 40px;
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #F7F7F7;
    background: #FF5858;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

.sobre .btn-quero-apoiar:hover {
    background: #F7F7F7;
    color: #FF5858;
}

@media (max-width: 991px) {
    .sobre {
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .sobre img {
        margin-bottom: -60px;
    }
}


/*--------------------------------------------------------------
# Cursos
--------------------------------------------------------------*/

.cursos {
    background: url("../img/cursos-bg.png");
}

.cursos h2 {
    color: #E0E0E0;
}

.cursos .post-box {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
    height: 100%;
    overflow: hidden;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
}

.cursos .post-box .post-img {
    overflow: hidden;
    margin: auto;
    position: relative;
    border-radius: 5px;
}

.cursos .post-box .post-img img {
    transition: 0.5s;
}

.cursos .post-box .post-title {
    font-size: 20px;
    color: #f7f7f7;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    transition: 0.3s;
}

.cursos .data {
    color: #a1a1a1;
}

.cursos .description {
    color: #E0E0E0;
}

.cursos .post-box .readmore {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1;
    transition: 0.3s;
    color: #f7f7f7
}

.cursos .post-box .readmore i {
    line-height: 0;
    margin-left: 8px;
    font-size: 16px;
    color: #f7f7f7
}

.cursos .post-box:hover .post-img img {
    transform: rotate(6deg) scale(1.2);
}

.cursos .text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cursos .btn-ver-todos {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 140px;
    border-radius: 50px;
    transition: 0.5s;
    color: #0F0F26;
    background: #F7F7F7;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

.cursos .btn-ver-todos:hover {
    color: #F7F7F7;
    background: #0F0F26;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

@media (min-width: 1024px) {
    .cursos {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    .cursos {
        padding-top: 80px;
    }
    .cursos .post-box {
        width: auto;
    }
}

.cursos .col-4 {
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    #cursos .col-4 {
        width: max-content;
        padding: 10px;
    }
}


/*--------------------------------------------------------------
# Contato
--------------------------------------------------------------*/

.contato .texto {
    margin-top: -40px;
}

.contato .img-fluid {
    width: 100px;
    margin-left: 40px
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #0F0F26;
    padding: 0 0 30px 0;
    color: #f7f7f7;
    font-size: 14px;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #f7f7f7;
}