/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  font-family: "Poppins", sans-serif;
  color: #20376C;
  background-color: #FAFAFA;
}

a {
  color: #D5626D;
  text-decoration: none;
}

a:hover {
  color: #D5626D;
  text-decoration: none;
}

h1,
h2,
h1,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 990;
  background: #D5626D;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #FAFAFA;
  line-height: 0;
}

.back-to-top:hover {
  background: #4678BC;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  background: #FAFAFA;
  height: 60px;
}

#header .logo h1 {
  font-family: "Goldplay", "Poppins", sans-serif;
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #20376C;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/** Desktop Navigation */

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:hover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Goldplay", "Poppins", sans-serif;
  color: rgba(39, 39, 39, 0.7);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>Ul>Li>A:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 3px;
  left: 30px;
  background-color: #D5626D;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>A:before,
.navbar .active:before {
  visibility: visible;
  width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>A {
  color: #20376C;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 25px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #FAFAFA;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 10px;
  margin-top: 10px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 600;
  text-transform: none;
  color: #20376C;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>A {
  color: #20376C;
}

.navbar .dropdown:hover>Ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>Ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>Ul {
    left: -100%;
  }
}

/** Mobile Navigation */

.mobile-nav-toggle {
  color: #20376C;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #20376C;
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #FAFAFA;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile>Ul>Li>A:before {
  left: 20px;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #20376C;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>A {
  color: #20376C;
}

.navbar-mobile .dropdown ul,
.navbar-mobile .dropdown .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #FAFAFA;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li,
.navbar-mobile .dropdown .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a,
.navbar-mobile .dropdown .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i,
.navbar-mobile .dropdown .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>A,
.navbar-mobile .dropdown .dropdown ul a:hover,
.navbar-mobile .dropdown .dropdown ul .active:hover,
.navbar-mobile .dropdown .dropdown ul li:hover>A {
  color: #20376C;
}

.navbar-mobile .dropdown>.dropdown-active,
.navbar-mobile .dropdown .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
  padding: 20px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #FAFAFA;
}

.section-title {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #20376C;
  font-family: "Goldplay", "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 90px;
  height: 1px;
  display: inline-block;
  background: #20376C;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  font-size: 36px;
  font-weight: 650;
  text-transform: uppercase;
  font-family: "Goldplay", "Poppins", sans-serif;
  color: #20376C;
}

@media (max-width: 991px) {
  .section-title p {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100vw;
  }

  .section-title h2 {
    font-size: 15px;
    width: 100vw;
  }
}

/*--------------------------------------------------------------
# Breadcrumb
--------------------------------------------------------------*/

.breadcrumb {
  margin: 20px 0px;
}

.breadcrumb .breadcrumb-item a {
  color: #D5626D;
  transition: 0.5s;
}

.breadcrumb .breadcrumb-item a:hover {
  color: #20376C;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .breadcrumb {
    margin: 0px 30px 0px 20px;
  }
}

/*--------------------------------------------------------------
# Sobre, Apoie e Em Construção
--------------------------------------------------------------*/

.sobre .container,
.apoie .container,
.em-construcao .container,
.telegram .container {
  margin-bottom: 30px;
}

.sobre .align-end,
.telegram .align-end,
.apoie .align-end,
.em-construcao .align-end {
  margin-left: 20%;
}

.sobre h1,
.telegram h1,
.apoie h1,
.em-construcao h1,
.contato h1 {
  font-family: "Goldplay", "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #20376C;
  padding-bottom: 10px;
}

.sobre p,
.telegram p,
.apoie p,
.em-construcao p,
.contato p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 80%;
  color: #20376C;
  font-style: normal;
  text-align: left;
  margin-bottom: 20px;
}

.sobre .img-fluid,
.telegram .img-fluid,
.apoie .img-fluid,
.em-construcao .img-fluid {
  width: 70%;
  margin-bottom: 30px;
}

.sobre .btn-quero-apoiar,
.telegram .btn-quero-apoiar,
.apoie .btn-quero-apoiar {
  font-family: "Goldplay", "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #FAFAFA;
  background: #4678BC;
  border-radius: 50px;
  text-align: center;
  margin-top: 10px;
  border: #FAFAFA solid 1px;
}

.sobre .btn-quero-apoiar:hover,
.telegram .btn-quero-apoiar:hover,
.apoie .btn-quero-apoiar:hover {
  background: none;
  color: #4678BC;
  border: #4678BC solid 1px;
}

.sobre .btn-quero-apoiar-2,
.telegram .btn-quero-apoiar-2,
.apoie .btn-quero-apoiar-2 {
  font-family: "Goldplay", "Poppins", sans-serif;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #D5626D;
  background: none;
  border-radius: 50px;
  text-align: center;
  margin-top: 10px;
  border: #D5626D solid 1px;
}

.sobre .btn-quero-apoiar-2:hover,
.telegram .btn-quero-apoiar-2:hover,
.apoie .btn-quero-apoiar-2:hover {
  background: #D5626D;
  color: #FAFAFA;
}

@media (max-width: 1084px) {

  .sobre .container,
  .telegram .container,
  .apoie .container,
  .em-construcao .container,
  .cursos .cursos-container {
    margin-bottom: -20% !important;
  }

  .sobre .col {
    margin: 0px 20px;
  }

  .sobre,
  .telegram,
  .apoie,
  .em-construcao {
    margin: 0px !important;
  }

  .sobre .btn-quero-apoiar,
  .telegram .btn-quero-apoiar,
  .apoie .btn-quero-apoiar {
    width: 80vw;
    font-size: 14px;
  }

  .sobre .btn-quero-apoiar-2,
  .telegram .btn-quero-apoiar-2,
  .apoie .btn-quero-apoiar-2 {
    width: 80vw;
    font-size: 14px;
    margin-left: 0px;
  }

  .sobre .img-fluid,
  .telegram .img-fluid,
  .apoie .img-fluid,
  .em-construcao .img-fluid {
    margin: -10px 0px;
    width: 80vw;
    max-width: 90vw;
    margin-top: 10px;
  }

  .sobre h1,
  .telegram h1,
  .apoie h1,
  .em-construcao h1 {
    padding-top: 20px;
    width: 90%;
  }

  .sobre p,
  .telegram p,
  .apoie p,
  .em-construcao p {
    font-size: 18px;
    width: 90%;
    padding-bottom: 10px;
  }

  .sobre .row,
  .telegram .row,
  .apoie .row,
  .em-construcao .row {
    padding-bottom: 100px;
  }

  .sobre .text-center,
  .telegram .text-center,
  .apoie .text-center,
  .em-construcao .text-center {
    text-align: left !important;
    padding-bottom: 40px;
  }

  .telegram .text-center-2 {
    margin-left: 20px;
    text-align: left !important;
    padding-bottom: 40px;
  }
}

/*--------------------------------------------------------------
# Aulas
--------------------------------------------------------------*/

.aulas,
.aulas .card {
  background-color: none;
}

.aulas .title,
.posts .title,
.conteudos .title {
  font-family: "Goldplay", "Poppins", sans-serif;
  text-align: center;
  font-weight: 700;
  margin: 20px 0px;
  width: 100%;
}

.aulas .card {
  width: 20%;
  border-radius: 10px;
  margin: 10px;
  height: auto;
}

.aulas .card-body {
  padding: 0px;
  padding-bottom: 10px;
}

.aulas .card-img-top {
  margin: 10px 0px;
  border-radius: 10px;
  width: 100%;
  height: auto;
  background-size: cover;
  object-fit: fill;
}

.aulas .card-title {
  margin-top: 5px;
  font-family: "Goldplay", "Poppins", sans-serif;
  font-weight: 600;
}

.aulas .card-text {
  font-size: 15px;
  width: 100%;
}

.sobre .link {
  color: #20376C;
  text-decoration: none;
  transition: 0.3s;
}

.sobre .link:hover {
  color: #D5626D;
  text-decoration: none;
  transition: 0.3s;
}

.aulas .btn-primary {
  align-items: center;
  text-align: center;
  font-size: 16px;
  width: 100%;
  padding: 5px 20px;
  border: none;
  transition: 0.5s;
  margin: 5px 0px 15px 0px;
  border-radius: 50px;
}

.aulas .btn-primary:hover {
  background-color: #FAFAFA !important;
  color: #20376C;
  border: none;
  transition: 0.5s;
}

.aulas .btn-em-breve {
  background-color: #bdbdbd;
  color: #111;
  align-items: center;
  text-align: center;
  font-size: 16px;
  width: 100%;
  padding: 5px 20px;
  border: none;
  transition: 0.5s;
  margin: 5px 0px 15px 0px;
  border-radius: 50px;
  cursor: auto;
}

.items {
  margin-bottom: 5px !important;
}

@media (max-width: 1350px) {

  .aulas .card-img-top {
    width: 100%;
    height: auto;
    background-size: cover;
    object-fit: fill;
  }

}

@media (max-width: 991px) {

  .aulas {
    margin-bottom: -50px;
  }

  .aulas .title {
    margin-bottom: -60px;
  }

  .aulas .card {
    width: 80vw;
    margin-bottom: 5px;
  }

  .aulas .btn-primary {
    width: 100%;
    margin-bottom: 10px;
  }

  .aulas .card-img-top {
    height: auto;
  }

  .aulas .img-fluid {
    margin: 10px -20px -20px -20px !important;
    width: 100vw;
    max-width: 100vw;
  }

  .aulas .row {
    padding-bottom: 100px;
  }

  .aulas .text-center {
    text-align: left !important;
    padding-bottom: 40px;
  }
}

/*--------------------------------------------------------------
# Posts
--------------------------------------------------------------*/

.posts {
  background-color: #FAFAFA;
}

.posts .img-fluid {
  border-radius: 10px;
  margin: 20px 0px 5px 5px;
  padding: 0px;
}

.posts a {
  width: 25%;
  font-size: 0px;
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  .posts a {
    width: 100vw;
    font-size: 0px;
    margin-bottom: 10px;
  }

  .posts .img-fluid {
    width: 100%;
    border-radius: 30px;
    margin: 10px 0px;
    padding: 0px;
  }
}

/*--------------------------------------------------------------
# Em construção
--------------------------------------------------------------*/

.em-construcao,
.apoie-2 {
  padding: 30px;
}

.em-construcao .img-fluid {
  width: 90%;
}

.em-construcao .btn-voltar-inicio {
  font-family: "Goldplay", "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #FAFAFA;
  background: #4678BC;
  border-radius: 50px;
  text-align: center;
  margin-top: 10px;
  border: #FAFAFA solid 1px;
}

.em-construcao .btn-voltar-inicio:hover {
  background: #FAFAFA;
  color: #4678BC;
  border: #FAFAFA solid 1px;
}

@media (max-width: 1350px) {

  .em-construcao,
  .apoie-2 {
    padding: 140px 0px !important;
  }
}

@media (max-width: 980px) {

  .em-construcao,
  .apoie-2 {
    padding: 100px 20px 0px 0px !important;
  }

  .em-construcao .btn-voltar-inicio,
  .apoie-2 .btn-quero-apoiar,
  .apoie-2 .btn-quero-apoiar-2 {
    margin-left: 0px;
    font-size: 14px;
    width: auto;
  }

  .apoie-2 .btn-quero-apoiar-2 {
    margin-bottom: 20px;
  }
}

/*--------------------------------------------------------------
# Conteúdos
--------------------------------------------------------------*/

.conteudos .conteudo {
  border: #d9d9d9 solid 1px;
  padding: 20px 0px 0px 0px;
  border-radius: 20px;
  background-color: #FAFAFA;
  margin: 10px 0px 30px 0px;
  height: auto;
  box-shadow: #dfdfdf 0px 0px 10px;
}

.conteudos-container {
  margin-top: 0%;
}

.conteudos h1 {
  font-family: "Goldplay", "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #20376C;
  padding-bottom: 10px;
  width: 100%;
  margin-left: 20px;
}

.conteudos p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  width: 80%;
  color: #20376C;
  font-style: normal;
  text-align: left;
  margin-bottom: 20px;
  width: 100%;
  margin-left: 20px;
}

.conteudos .img-fluid {
  width: 80%;
  margin-left: 20%;
  margin-bottom: 10px;
}

.conteudos .btn-quero-apoiar {
  font-family: "Goldplay", "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #FAFAFA;
  background: #4678BC;
  border-radius: 50px;
  text-align: center;
  margin-top: 10px;
  border: #FAFAFA solid 1px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.conteudos .btn-quero-apoiar:hover {
  background: #FAFAFA;
  color: #4678BC;
  border: #4678BC solid 1px;
}

.conteudos .btn-em-breve,
.conteudos .btn-em-breve-2 {
  font-family: "Goldplay", "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 60px;
  border-radius: 50px;
  transition: 0.5s;
  color: #4f4f4f;
  background: #d5d5d5;
  border-radius: 50px;
  text-align: center;
  margin-top: 10px;
  border: #FAFAFA solid 1px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.conteudos .btn-em-breve-2 {
  margin-left: 0px;
}

.conteudos .post-box {
  transition: 0.3s;
  width: 16vw;
  height: 70vh;
  overflow: hidden;
  margin: 10px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: #20376C;
  border: 0.3px solid #cbcbcb;
  padding: 0%;
  background-color: rgba(247, 247, 247, 0.2);
}

.conteudos .post-box .post-img {
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  border-radius: 8px 0px 0px 0px;
  width: 100%;
  max-width: 100%;
  background-size: cover;
}

.conteudos .post-box .post-img img {
  transition: 0.5s;
  width: 100%;
}

.conteudos .post-box .post-title {
  font-size: 24px;
  color: #20376C;
  font-weight: 600;
  margin: 10px 20px 0px 20px;
  position: relative;
  transition: 0.3s;
  font-family: "Goldplay", 'Poppins', sans-serif;
}

.conteudos .description {
  font-family: "Montserrat", 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0px 20px 30px 20px;
  color: #20376C;
  width: 90%;
  height: 20%;
}

.conteudos .post-date {
  font-size: 16px;
  color: #757575;
  font-weight: 500;
  margin: 0px 20px 10px 20px !important;
  font-family: "Montserrat", 'Poppins', sans-serif;
}

.conteudos .post-box .readmore {
  display: flex;
  margin: 20px 20px;
  align-items: center;
  font-weight: 500;
  line-height: 1;
  transition: 0.3s;
  color: #20376C;
}

.conteudos .post-box .readmore i {
  line-height: 0;
  margin-left: 8px;
  font-size: 16px;
  color: #20376C;
}

.conteudos .post-box:hover .post-img img {
  transform: rotate(6deg) scale(1.2);
}

.conteudos .text-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 1350px) {
  .conteudos .post-box {
    width: 20vw;
    height: auto;
  }

  .conteudos .post-box .post-title {
    font-size: 20px;
  }

  .conteudos .post-date {
    font-size: 14px;
  }

  .conteudos .description {
    font-size: 13px;
  }
}

@media (max-width: 991px) {
  .conteudos {
    padding-top: 40px;
  }

  .conteudos-container {
    margin-top: 20%;
  }

  .conteudos .conteudo {
    width: 100%;
    margin-left: 0px !important;
  }

  .conteudos .section-title h2 {
    margin: -10px 30px;
    width: auto;
  }

  .conteudos .section-title p {
    margin: 10px 30px;
    width: auto;
    margin-bottom: -30px;
  }

  .conteudos .post-box {
    width: 100vw;
    height: 20%;
    left: 0px !important;
    margin: 0px;
    margin-bottom: 20px;
  }

  .conteudos .row {
    margin: 0px 20px;
  }

  .conteudos .post-box .img-fluid {
    width: 100%;
  }

  .conteudos .text-center {
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
  }
}

@media (max-width: 890px) {
  .conteudos .post-box {
    width: 100vw;
    height: 30%;
    left: 0px !important;
    margin: 0px;
    margin-bottom: 20px;
  }

  .conteudos .text-center {
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
  }
}

@media (max-width: 1084px) {
  .conteudos .container {
    margin-bottom: -10% !important;
  }

  .conteudos .title {
    margin-bottom: -70px;
  }

  .conteudos {
    margin: 0px 10px -40px 10px;
  }

  .conteudos .btn-quero-apoiar {
    font-size: 14px;
    width: 70vw;
    margin-left: 10px;
  }

  .conteudos .btn-em-breve {
    width: 70vw;
    margin-left: 10px;
  }

  .conteudos .img-fluid {
    margin: -20px 0px -60px 0px;
    width: 80vw;
    max-width: 80vw;
  }

  .conteudos h1 {
    padding-top: 10px;
    width: auto;
    margin-left: 10px;
  }

  .conteudos p {
    font-size: 16px;
    width: 80vw;
    padding-bottom: 10px;
    margin-left: 10px;
  }

  .conteudos .row {
    padding-bottom: 100px;
  }

  .conteudos .text-center {
    text-align: left !important;
    padding-bottom: 0px;
  }
}

/*--------------------------------------------------------------
# Apoie
--------------------------------------------------------------*/

.apoie,
.telegram {
  border-bottom: #d9d9d9 solid 1px;
  border-top: #d9d9d9 solid 1px;
  margin: 0px;
  padding: 10px 0px;
}

@media (max-width: 1084px) {
  .apoie .img-fluid {
    margin-top: 20px;
  }

  .apoie,
  .telegram {
    margin-bottom: 0px !important;
    margin: 0px !important;
    padding: 20px !important;
  }

  .apoie .text-center {
    margin-bottom: -60px !important;
  }
}

@media (min-width: 1350px) {

  .apoie {
    margin-bottom: 0px !important;
    margin: 0px !important;
    padding: 100px !important;
  }
}

/*--------------------------------------------------------------
# Telegram
--------------------------------------------------------------*/

@media (max-width: 1084px) {
  .telegram .container {
    margin-bottom: -70px !important;
  }
}

/*--------------------------------------------------------------
# Carrossel
--------------------------------------------------------------*/

.carousel-indicators li {
  background-color: #20376C !important;
}

#carousel .carousel-control-next i,
#carousel .carousel-control-prev i {
  color: #20376C !important;
  font-size: 2.8em !important;
}

.carousel-item {
  height: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel .img-fluid {
  width: 30vw;
  height: 70vh;
  object-fit: contain;
  border-radius: 20px;
  margin-left: 10%;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #20376C;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

.carousel .text-align-left {
  margin-left: 20%;
  width: 90%;
}

.carousel .h1 {
  color: #20376C;
  font-size: 24px;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  line-height: 30px;
}

.carousel .h2 {
  color: #20376C;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.carousel .p {
  color: #272727;
  font-size: 15px;
  margin: 10px 0px;
}

.carousel a {
  color: #20376C;
  font-weight: 700;
  transition: 0.3s;
}

.carousel a:hover {
  color: #D5626D;
  font-weight: 700;
  transition: 0.3s;
}

.carousel .row {
  margin-bottom: 60px;
}

@media (max-width: 1040px) {
  .carousel-item {
    height: auto;
  }

  .carousel .img-fluid {
    width: 500px;
    height: 300px;
    margin-bottom: 40px;
  }

  .carousel .h1 {
    width: 100%;
    text-align: center;
  }

  .carousel .h2 {
    width: 100%;
    text-align: center;
  }

  .carousel .p {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 980px) {
  .carousel {
    align-items: center !important;
  }

  .carousel-item {
    margin: 0px 30px !important;
  }

  .carousel .h1 {
    margin-bottom: 10px;
    width: 80%;
  }

  .carousel .p {
    margin-bottom: 20px;
    width: 80%;
  }

  .carousel .img-fluid {
    width: 70%;
    height: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 890px) {
  .carousel-item {
    margin: 0px 10px !important;
  }

  .carousel .img-fluid {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
    margin: 0px 10px;
  }

  .carousel .h1 {
    margin-bottom: 10px;
    width: 100%;
  }

  .carousel .p {
    margin-bottom: 20px;
    width: 100%;
  }

  .carousel .text-align-left {
    margin: 0px -10px 0px -10px !important;
    width: 100%;
  }

  #carousel .carousel-control-prev i,
  #carousel .carousel-control-next i {
    font-size: 0em !important;
  }
}

/*--------------------------------------------------------------
# Contato
--------------------------------------------------------------*/

.contato .texto {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 80%;
  color: #20376C;
  font-style: normal;
  text-align: left;
  margin-bottom: 20px;
  margin-top: -20px;
}

.contato h1 {
  margin-top: 20px;
}

.contato .img-fluid {
  width: 70%;
  margin-bottom: 30px;
  margin-left: 30%;
}

.contato .col {
  margin-left: -12px;
}

.contato .btn-primary {
  font-family: "Poppins", sans-serif;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background-color: #4678BC;
  width: auto;
  padding: 10px 20px;
  border: #4678BC solid 1px;
  transition: 0.5s;
  margin: 10px 10px 30px 0px;
  border-radius: 50px;
}

.contato .btn-primary:hover {
  background-color: #FAFAFA;
  color: #D5626D;
  border: #D5626D solid 1px;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .contato .container {
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0px 30px;
    margin-bottom: -10% !important;
  }

  .contato {
    margin: -40px 0px;
  }

  .contato .btn-primary {
    width: 80%;
    margin-bottom: 10px;
  }

  .contato .img-fluid {
    margin: 10px -20px -20px -20px !important;
    width: 90vw;
    max-width: 90vw;
  }

  .contato .row {
    padding-bottom: 100px;
  }

  .contato .text-center {
    text-align: left !important;
    padding-bottom: 40px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
  background: rgba(245, 197, 210, 0.25);
  padding: 10px 0px 0px;
  font-family: "Poppins", sans-serif;
}

.footer .ods {
  margin: 40px 0px;
  border-top: #626262 solid 1px;
}

.footer .text {
  font-family: "Goldplay", "Poppins", sans-serif;
  font-weight: 700;
  font-size: 38px;
  color: #20376C;
}

.footer .text-p {
  font-family: "Poppins", sans-serif;
  margin-top: -5px;
  font-weight: 500;
  font-size: 18px;
}

.footer p {
  font-family: "Goldplay", "Poppins", sans-serif;
  font-weight: 600;
}

.footer h6 {
  margin-top: 20px;
}

.footer .links {
  font-size: 18px;
  color: #20376C;
  transition: 0.2s;
}

.footer .links:hover {
  color: #D5626D;
  transition: 0.2s;
}

.footer .copyright {
  font-size: 14px;
  color: #20376C;
  text-align: center;
  padding-top: 30px;
}

.footer .credits {
  padding-top: 10px;
  text-align: center;
  color: #20376C;
}

.footer .credits a {
  color: #20376C;
  font-weight: 700;
  transition: 0.3s;
}

.footer .credits a:hover {
  color: #D5626D;
  font-weight: 700;
  transition: 0.3s;
}

.footer .copyright {
  background-color: #f2f7ff;
  color: #20376C;
}

.footer .img-fluid {
  width: 45%;
  border-radius: 10px;
  margin-right: 10px;
}

.footer .text-ods {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

@media (max-width: 991px) {
  .footer .img-fluid {
    width: 40%;
  }
}