@import "../colors.module";

// Estilização CSS do Component SubTitle
.subTitle-base {
  // Desktop | Tablet | Mobile
  font-style: normal;
  font-weight: 350;
  color: $blue-400;
}
.subTitle-default {
  // Desktop | Tablet | Mobile
  @extend .subTitle-base; // Estende a classe .subtitle-base
  font-size: 18px;
}
.subTitle-lg {
  // Desktop | Tablet
  @extend .subTitle-base; // Estende a classe .subtitle-base
  font-size: 20px;
  // Mobile
  @media (max-width: 425px) {
    font-size: 18px;
  }
}
