.sectionContainer{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 190px;
    animation: item-slide 2s;
}

@keyframes item-slide{
    0%{
        transform: translateY(250px);
    }
    100%{
        transform: translateY(0);
    }
}

.textContainer{
    max-width: 636px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttonContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.contactImage{
    width: 445px;
    height: 445px;
}

@media (max-width: 1270px){
    .buttonContainer{
        justify-content: flex-start;
    }
}

@media (max-width: 900px) {
    .sectionContainer{
        margin-top: 80px;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .textContainer{
        text-align: center;
        align-items: center;
    }

    .contactImage{
        width: 296px;
        height: 272px;
    }

    .buttonContainer{
        flex-direction: column;
    }
}