@import "/src/styles/colors.module";

// Estilização CSS do Component Title
.titleBase {
  // Desktop
  font-family:"NCS Radhiumz", 'Avenir LT STD', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 110%;
  align-items: center;
  color: $blue-400;
}

.titleDefault {
  @extend .titleBase; // Estende a classe .title-base
      // Tablet
  @media (max-width: 768px) {
    font-size: 32px;
  }
  // Mobile
  @media (max-width: 425px) {
    font-size: 22px;
  }
}

.title2Xl{
  @extend .titleBase;
  font-size: 40px;

  @media (max-width: 768px) {
    font-size: 30px;
  }
  // Mobile
  @media (max-width: 425px) {
    font-size: 25px;
  }
}

.titleXl {
  @extend .titleBase; // Estende a classe .title-base
  // Desktop
  font-size: 34px;
  line-height: 125%;
  // Tablet
  @media (max-width: 768px) {
    font-size: 30px;
  }
  // Mobile
  @media (max-width: 425px) {
    font-size: 25px;
  }
}
.titleLg {
  @extend .titleBase; // Estende a classe .title-base
  // Desktop
  font-size: 30px;
  line-height: 150%;
  text-transform: uppercase;
  // Tablet
  @media (max-width: 768px) {
    font-size: 28px;
  }
  // Mobile
  @media (max-width: 425px) {
    font-size: 23px;
  }
}

.titleMd{
  @extend .titleBase;
  font-size: 26px;
}

.titleSm {
  @extend .titleBase; // Estende a classe .title-base
  // Desktop
  font-size: 22px;
  line-height: 120%;
}

.titleXs {
  @extend .titleBase; // Estende a classe .title-base
  // Desktop
  font-size: 13px;
  line-height: 115%;
}