@import "/src/styles/colors.module";

// Estilização CSS do Component SubTitle
.subTitleBase {
    // Desktop | Tablet | Mobile
    font-family: $font-family-secondary, sans-serif;
    font-style: normal;
    font-weight: 350;
    color: $blue-400;
  }
  .subTitleDefault {
    // Desktop | Tablet | Mobile
    @extend .subTitleBase; // Estende a classe .subtitle-base
    font-size: 1.25rem;
    font-weight: 700;
  }
  .subTitleLg {
    // Desktop | Tablet
    @extend .subTitleBase; // Estende a classe .subtitle-base
    font-size: 1.25rem;
    // Mobile
    @media (max-width: 425px) {
      font-size: 1.125rem;
    }
  }
  .subTitleMd {
    @extend .subTitleBase; // Estende a classe .subtitle-base
    font-size: 1rem;
  }
  .subTitleSm {
    @extend .subTitleBase; // Estende a classe .subtitle-base
    font-size: .875rem;
  }

  