@import "/src/styles/colors.module";

// Estilização CSS do Component SubTitle
.subTitleBase {
    // Desktop | Tablet | Mobile
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 350;
    color: $blue-400;
  }
  .subTitleDefault {
    // Desktop | Tablet | Mobile
    @extend .subTitleBase; // Estende a classe .subtitle-base
    font-size: 18px;
    font-weight: 850;
  }
  .subTitleLg {
    // Desktop | Tablet
    @extend .subTitleBase; // Estende a classe .subtitle-base
    font-size: 20px;
    // Mobile
    @media (max-width: 425px) {
      font-size: 18px;
    }
  }
  .subTitleMd {
    @extend .subTitleBase; // Estende a classe .subtitle-base
    font-size: 16px;
  }
  .subTitleSm {
    @extend .subTitleBase; // Estende a classe .subtitle-base
    font-size: 14px;
  }

  