@import "/src/styles/colors.module";

// Estilização Componente Card
//Style Base
.CardBase {
  background-color: $white;
  display: flex;
  flex-direction: column;
  color: $blue-400;
  font-family: "NCS Radhiumz", 'Avenir LT STD', sans-serif;
  font-style: normal;
  font-size: 16px;
  border: 1px solid $blue-300;
  border-radius: 10px;
  overflow: hidden;
}

// Estilização Card Primary 
.primary {
  @extend .CardBase;
  width: 18.4375rem;
  height: 15.625rem;
  gap: 16px;
}

// Estilização Card Secondary 
.secondary {
  @extend .CardBase;
  width: 15rem;
  // height: 36.9rem;
  height: 28.5rem;
  gap: 20px;
}

.img {
  width: 100%;
  height: auto;
}

.title {
  font-size: 22px;
  line-height: 28px;
  padding: 0 8px 8px;
}

.description {
  font-weight: 350;
  font-style: normal;
  padding: 0 8px;
  font-family: 'Avenir LT STD', sans-serif;
}

.subtitle {
  color: $gray-400;
  font-weight: 500;
  padding: 0 8px;
}

.link {
  display: flex;
  color: $blue-400;
  gap: 0.25rem;
  line-height: 1rem;
  font-weight: 750;
  padding: 0.25rem 0.5rem;
  font-family: 'Avenir LT STD', sans-serif;
  cursor: pointer;
}

@media (max-width: 994px) {
  .CardBase{
    width: 80%;
    height: auto;
  }
}