@import "/src/styles/colors.module";

.footerContainer {
  background-color: $pink-400;
  display: grid;
  grid-template-columns: 224px 150px 224px 150px;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  
  .socialMedia {
    grid-row: span 2;
  }

  @media (max-width: 994px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    div {
      width: 80vw;
      min-width: 100%;
    }
  }
}

.logoContainer {
  border-bottom: 1px solid #626262;
  margin-bottom: .4rem;

  .slogan {
    font-size: 1.125rem;
    font-family: "Avenir LT Std", sans-serif;
    color: $gray-400;
    margin-bottom: 0.5rem;
  }

  img {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  @media (max-width: 994px) {
    &,
    .slogan,
    img {
      margin-bottom: 1rem;
    }
  }
}

.supporters {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: .5rem;

  span {
    font-family: "NCS Radhiumz", sans-serif;
    color: $gray-400;
    font-size: 1rem;
    font-weight: bold;
  }

  .imagesSupporters {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
  }

  @media (max-width: 994px) {
    border-top: 1px solid rgb(98, 98, 98);
    padding-top: 1rem;

    .imagesSupporters {
      display: flex;
      gap: 2rem;
    }
  }
}

.logoContainer,
.supporters {
  display: flex;
  flex-direction: column;
  width: 224px;

  @media (max-width: 994px) {
    width: 100%;
    align-items: center;
  }
}

.projects,
.about {
  @media (max-width: 994px) {
    margin-bottom: 1.5rem;
  }
}

.titlesFooter {
  font-size: 1rem;
  font-weight: 750;
  color: $gray-400;
  text-transform: uppercase;
  margin-bottom: 1.25rem;

  @media (max-width: 994px) {
    text-align: center;
  }
}

.footerItems {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  li a {
    display: flex;
    gap: 0.25rem;
    align-items: center;

    font-family: "NCS Radhiumz", sans-serif;
    color: $blue-400;
    font-size: 1rem;
    font-weight: 700;
    transition: .4s;

    &:hover {
      color: $pink-500;
    }
  }

  @media (max-width: 994px) {
    align-items: center;
  }
}

.socialMedia {
  @media (max-width: 994px) {
    margin-bottom: 1rem;

    .footerItems {
      flex-direction: row;
      justify-content: center;

      & li {
        svg {
          font-size: 2rem;
        }
        span {
          display: none;
        }
      }
    }
  }
}

.copyright {
  background-color: $blue-200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding: 40px 0;

  p {
    font-family: "Avenir LT Std", sans-serif;
    font-weight: 350;
    font-size: 1rem;
    color: $blue-400;
  }

  @media (max-width: 994px) {
    p {
      font-size: 0.875rem;
    }
  }
}
